@import url('normalize.css');

:root {
    --light-color: #FFF;
    --highlights-color: #5C5CFF;
    --highlights-color-opacity: rgba(92, 92, 255, 0.75);
    --radio-button-color: #33DFE1;
}

* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 0;
    font-family: 'Play', sans-serif;

    background-color: var(--highlights-color);
    color: var(--light-color);
}

form {
    display: flex;
    flex-direction: column;

    gap: 30px;
}

label {
    font-weight: 600;
    font-size: 18px;
}

h1 {
    font-weight: 600;
    font-size: 18px;
}

h2 {
    font-weight: 600;
    font-size: 16px;
}

h3 {
    font-weight: 400;
    font-size: 16px;
}

p {
    font-weight: 400;
    font-size: 12px;
}

.loader {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: red;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

.title img {
    width: 75px;
}

.productname {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 30px 0px;
}

.email {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.email input {
    padding: 10px 15px;

    outline: none;
    border: none;
    border-radius: 15px;
}

.email input::placeholder {
    font-weight: 600;
    font-size: 12px;

    color: #EE3434;
}

.currency {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radios {
    width: 195px;
    display: flex;
    padding: 10px 0;

    background-color: var(--light-color);
    border-radius: 15px;

    gap: 10px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+span {
    color: var(--highlights-color);
    border-radius: 15px;
    padding: 10px 10px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

input[type="radio"]:checked+span {
    color: var(--light-color);
    background-color: var(--radio-button-color);
}


.button {
    padding: 10px;

    font-weight: 600;
    font-size: 16px;

    background-color: var(--highlights-color);
    border: 1px solid var(--light-color);
    border-radius: 15px;
    color: var(--light-color)
}

.button:hover {
    cursor: pointer;
}

.loader {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 20px;

    background-color: var(--highlights-color-opacity);


}

.loader__content {
    height: 120px;
    width: 120px;
    border: 6px solid;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: spin 1.3s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}